$color_1: white;
$background-color_1: black;
$background-color_2: #ccc;
$background-color_3: white;
$background-color_4: #2196F3;

/* Rounded sliders */
.dataTables_wrapper {
  .dataTables_length {
    float: left;
    margin: 13px;
  }
  .dataTables_filter {
    float: right;
    margin: 13px;
  }
}
#DataTables_Table_0 {
  border-top: var(--tblr-border-width) var(--tblr-border-style) rgba(4,32,69,.14) !important;
}
.add-button {
  background-color: $background-color_1;
  color: $color_1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 27px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color_2;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 4px;
    background-color: $background-color_3;
    -webkit-transition: .4s;
    transition: .4s;
  }
}
input {
  &:checked {
    + {
      .slider {
        background-color: $background-color_4;
        &:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
  }
  &:focus {
    + {
      .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
  }
  &:disabled {
    + {
      .slider {
        background-color: #aad3f4;
      }
    }
  }
}
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}

.image {
  display: inline-block;
  flex-shrink: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}

.image-picker {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.475rem;
    display: inline-block;
    position: relative;
    cursor: pointer;

  .picker-edit {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 25px;
    justify-content: center;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 25px;
    border: 0.063rem solid #e9ecef;
    box-shadow: 0 5px 20px rgba(173, 181, 189, .2);
    cursor: pointer;
  }

  .previewImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0.313rem;
    height: 100px;
    width: 100px;
    border: 0.063rem solid #e9ecef;
    box-shadow: 0 5px 20px rgba(173, 181, 189, .2);
  }
}

.fs-small {
  font-size: .75rem;
}

.text-gray-500 {
  color: #adb5bd!important;
}

.fa-pen:before {
  cursor: pointer;
}

.required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700;
  position: relative;
}

.user-profile-image {
  height: 50px;
  max-height: 50px;
  width: 50px;
  object-fit: cover !important;
}

.user-show-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.sidebar-title {
  display: inline;
  color: white;
}

.profile-header {
  margin-left: auto;
}

.active-sidebar {
  color: #0d6efd !important;
}